target/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.metadata/*.*
.metadata/
.plugins
.log
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.DS_Store